---
import { Picture } from "@astrojs/image/components";
import Cosmos from "assets/cosmos.png";
import Akash from "assets/akash.png";
import Quicksilver from "assets/quicksilver.jpg";
import Link from "@components/ui/link.astro";
import vitwit from "assets/vw11.jpg";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={vitwit}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      aspectRatio="1:1"
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="png" 
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Vitwit
    </h1>
    <div class="aaa">
   
    <br>
    We provide public goods services for the chains we validate. This includes node snapshot for quickly syncing your node, addressbook for quickly connecting to peers, RPC endpoint and API endpoint.
    </p>
    </div>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">

    

     
      <Link
        href="#"
        href="https://vitwit.com/"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        
        Visit vitwit
      </Link>
    
    </div>
   <style>
   .aaa{
    font-size: 25px;
    font-family:sans-serif;
   }


   </style>

  




</main>
